/*
 * Mixins
 */
/*
 * Color Variables
 */
/*
 * Admin Menu
 */
body.admin-menu {
  margin-top: 28px !important; }

#admin-menu {
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*
   * IE 8 & 9
   */
  filter: alpha(100);
    /*
   * IE 5 - 7
   */
  -moz-opacity: 1;
    /*
   * Older than Firefox 0.9
   */
  -khtml-opacity: 1;
    /*
   * Safari 1.x (pre WebKit!)
   */
  opacity: 1;
    /*
   * Firefox 0.9+, Safari 2?, Chrome, Opera 9+, IE 9+
   */
  direction: ltr;
  color: #cccccc;
  background-color: #464646;
  background-image: -ms-linear-gradient(bottom, #373737, #464646 5px);
  background-image: -moz-linear-gradient(bottom, #373737, #464646 5px);
  background-image: -o-linear-gradient(bottom, #373737, #464646 5px);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646));
  background-image: -webkit-linear-gradient(bottom, #373737, #464646 5px);
  background-image: linear-gradient(bottom, #373737, #464646 5px); }
    #admin-menu #admin-menu-wrapper ul {
      -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      zoom: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /*
   * IE 8 & 9
   */
      filter: alpha(100);
        /*
   * IE 5 - 7
   */
      -moz-opacity: 1;
        /*
   * Older than Firefox 0.9
   */
      -khtml-opacity: 1;
        /*
   * Safari 1.x (pre WebKit!)
   */
      opacity: 1;
        /*
   * Firefox 0.9+, Safari 2?, Chrome, Opera 9+, IE 9+
   */ }
      #admin-menu #admin-menu-wrapper ul li {
        color: #cccccc;
        border-right: 1px solid #555555;
        zoom: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          /*
   * IE 8 & 9
   */
        filter: alpha(100);
          /*
   * IE 5 - 7
   */
        -moz-opacity: 1;
          /*
   * Older than Firefox 0.9
   */
        -khtml-opacity: 1;
          /*
   * Safari 1.x (pre WebKit!)
   */
        opacity: 1;
          /*
   * Firefox 0.9+, Safari 2?, Chrome, Opera 9+, IE 9+
   */ }
        #admin-menu #admin-menu-wrapper ul li li {
          border-right: 0; }
        #admin-menu #admin-menu-wrapper ul li a {
          text-shadow: #444444 0 -1px 0;
          padding-top: 7px;
          padding-bottom: 9px;
          font-size: 1.3em !important;
          font-family: sans-serif !important;
          color: #bfbfbf; }
          #admin-menu #admin-menu-wrapper ul li a:hover {
            color: #21759b; }
        #admin-menu #admin-menu-wrapper ul li .hover,
        #admin-menu #admin-menu-wrapper ul li:hover {
          background-color: white; }
          #admin-menu #admin-menu-wrapper ul li .hover a,
          #admin-menu #admin-menu-wrapper ul li:hover a {
            text-shadow: none;
            color: #333333; }
            #admin-menu #admin-menu-wrapper ul li .hover a:hover,
            #admin-menu #admin-menu-wrapper ul li:hover a:hover {
              color: #21759b; }
          #admin-menu #admin-menu-wrapper ul li .hover ul,
          #admin-menu #admin-menu-wrapper ul li:hover ul {
            -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            background-color: white; }
            #admin-menu #admin-menu-wrapper ul li .hover ul li,
            #admin-menu #admin-menu-wrapper ul li:hover ul li {
              background-color: white; }
              #admin-menu #admin-menu-wrapper ul li .hover ul li .hover,
              #admin-menu #admin-menu-wrapper ul li:hover ul li .hover,
              #admin-menu #admin-menu-wrapper ul li .hover ul li:hover,
              #admin-menu #admin-menu-wrapper ul li:hover ul li:hover {
                background-color: #eaf2fa; }
              #admin-menu #admin-menu-wrapper ul li .hover ul li a,
              #admin-menu #admin-menu-wrapper ul li:hover ul li a {
                text-shadow: none;
                color: #333333;
                border-top: 0; }
                #admin-menu #admin-menu-wrapper ul li .hover ul li a:hover,
                #admin-menu #admin-menu-wrapper ul li:hover ul li a:hover {
                  color: #21759b; }
        #admin-menu #admin-menu-wrapper ul li.admin-menu-account > a {
          background-color: #464646;
          background-image: -ms-linear-gradient(bottom, #373737, #464646 5px);
          background-image: -moz-linear-gradient(bottom, #373737, #464646 5px);
          background-image: -o-linear-gradient(bottom, #373737, #464646 5px);
          background-image: -webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646));
          background-image: -webkit-linear-gradient(bottom, #373737, #464646 5px);
          background-image: linear-gradient(bottom, #373737, #464646 5px); }
        #admin-menu #admin-menu-wrapper ul li.admin-menu-account:hover > a,
        #admin-menu #admin-menu-wrapper ul li.admin-menu-account > a:hover {
          background-color: white;
          background-image: none; }
        #admin-menu #admin-menu-wrapper ul li ul {
          background-color: white; }
          #admin-menu #admin-menu-wrapper ul li ul li {
            background-color: white; }
            #admin-menu #admin-menu-wrapper ul li ul li a {
              text-shadow: none;
              color: #333333;
              border-top: 0; }
            #admin-menu #admin-menu-wrapper ul li ul li ul {
              background-color: white;
              margin-top: -28px; }
          #admin-menu #admin-menu-wrapper ul li.admin-menu-icon a {
            padding-bottom: 1px; }
          #admin-menu #admin-menu-wrapper ul li.admin-menu-icon ul {
            zoom: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
              /*
   * IE 8 & 9
   */
            filter: alpha(100);
              /*
   * IE 5 - 7
   */
            -moz-opacity: 1;
              /*
   * Older than Firefox 0.9
   */
            -khtml-opacity: 1;
              /*
   * Safari 1.x (pre WebKit!)
   */
            opacity: 1;
              /*
   * Firefox 0.9+, Safari 2?, Chrome, Opera 9+, IE 9+
   */ }
              #admin-menu #admin-menu-wrapper ul li.admin-menu-icon ul li a {
                padding-bottom: 9px; }

